<!DOCTYPE html>
<html>
<title>CSLearnTool</title>
<body>
<span class="sidebar">Contents<br><%=link_to "Home", welcome_index_path %></span>
<span class="main">
  <h1>[SITE NAME]</h1>
  <h2><%= link_to "Topics", topics_path %> >> <%= @topic.title %></h2>
  <% @subtopics.each do |s| %>
    <%= link_to subtopic_path(s) do %>
      <div class="boxed_options">
        <%= s.title %>
      </div>
    <% end %>
    <br>
  <% end %>
</span>
</body>
</html>