<!DOCTYPE html>
<html>
<title>CSLearnTool</title>
<body>
<span class="sidebar">Contents<br><%=link_to "Home", welcome_index_path %></span>
<span class="main">
  <h1>[SITE NAME]</h1>
  <h2><%= link_to "Topics", topics_path %> >> <%= link_to @topic.title, topic_path(@topic) %> >> <%= @subtopic.title %></h2>
<!--  <div class="boxed_options"></div>-->
  <br>
  <iframe height="400" width="600" src=<%= @subtopic.game %>></iframe>
</span>
</body>
</html>